body {
    background: #0f1624;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.titulo {
    margin-top: 30px;
    font-size: 38px;
    color: #ff6d1b;
}

.top-menu {
    margin-bottom: 20px;
}

.menu-btn {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #1e2536;
    color: white;
}

.menu-btn.active {
    background: #5b4dff;
}

.senha-box {
    margin: 20px auto;
}

.senha-box input {
    padding: 10px;
    width: 180px;
    border-radius: 8px;
    border: none;
}

.senha-box button {
    padding: 10px 15px;
    margin-left: 10px;
}

.categoria-buttons {
    margin: 15px 0;
}

.cat-btn {
    padding: 10px 28px;
    margin: 5px;
    border-radius: 25px;
    border: 2px solid transparent;
    color: white;
    background: #20283a;
    cursor: pointer;
    transition: 0.3s;
}

.cat-btn:hover,
.cat-btn.active {
    background: #5b4dff;
}

.cards-area {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding-top: 10px;
}

.card {
    background: #161c28;
    padding: 20px;
    width: 280px;
    border-radius: 15px;
}

.circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-color: #1f2638;
    border: 3px solid #5b4dff;
}

.vote-btn {
    margin-top: 15px;
    padding: 10px 25px;
    border-radius: 20px;
    background: #5b4dff;
    border: none;
    color: white;
    cursor: pointer;
}

/* Ranking */
.rank-box {
    background: #161c28;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 25px;
    text-align: left;
}

.rank-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
}

.bar-bg {
    width: 70%;
    height: 8px;
    background: #2c3244;
    border-radius: 6px;
    margin: 0 10px;
}

.bar-fill {
    height: 8px;
    background: #5b4dff;
    border-radius: 6px;
    width: 0%;
    transition: width .3s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.popup {
    background: #161c28;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    width: 260px;
    box-shadow: 0 0 10px black;
}

.popup input {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
}

.popup button {
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background: #5b4dff;
    color: white;
    cursor: pointer;
}